@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: ExtraBold;
    src: url('./assets/fonts/OpenSans-ExtraBold.ttf') Format('truetype');
}

@font-face {
    font-family: Bold;
    src: url('./assets/fonts/OpenSans-Bold.ttf') Format('truetype');
}

@font-face {
    font-family: BoldItalic;
    src: url('./assets/fonts/OpenSans-BoldItalic.ttf') Format('truetype');
}

@font-face {
    font-family: Italic;
    src: url('./assets/fonts/OpenSans-Italic.ttf') Format('truetype');
}


@font-face {
    font-family: ExtraBoldItalic;
    src: url('./assets/fonts/OpenSans-ExtraBoldItalic.ttf') Format('truetype');
}

@font-face {
    font-family: Regular;
    src: url('./assets/fonts/OpenSans-Regular.ttf') Format('truetype');
}

@font-face {
    font-family: SemiBold;
    src: url('./assets/fonts/OpenSans-SemiBold.ttf') Format('truetype');
}

@font-face {
    font-family: MontserratRegular;
    src: url('./assets/fonts/Montserrat-Regular.ttf') Format('truetype');
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}